.p-search {
  .panel-sub {
    position: absolute;
    left: 0;
    top: 0;
    width: 44.1rem;
    height: 100%;
    padding-bottom: 5.6rem;
    overflow-y: auto;
    background-color: #fff;
    border-left: 1px solid #000;
    transition: all 0.3s ease-in-out;
    z-index: 1001;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: #303538; /* 스크롤바의 색상 */
      border-radius: 9.9rem;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1; /*스크롤바 뒷 배경 색상*/
    }
    .icon-share {
      width: 2.4rem;
      height: 2.4rem;
      background: url("../../../assets/img/place/panel_sub/icon/share_ico.png") no-repeat center;
    }
    .title {
      margin-bottom: 1rem;
      font-size: 1.7rem;
      font-weight: 600;
      color: #000;
      line-height: 2rem;
    }
    .popup-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.1rem 4rem 1.6rem;
      .title {
        font-size: 2rem;
        margin-bottom: 0;
        color: #000;
      }
    }
    // panel-subway - 지하철 색상
    .subway {
      &-list {
        display: flex;
        align-items: center;
      }
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.4rem;
        font-size: 1.3rem;
        color: #fff;
        border-radius: 50%;
        background-color: #000;
        &.subway-1 {
          background-color: #1a3a97;
        }
        &.subway-2 {
          background-color: #159e3c;
        }
        &.subway-3 {
          background-color: #e8693e;
        }
        &.subway-4 {
          background-color: #4270cc;
        }
        &.subway-5 {
          background-color: #7f40b0;
        }
        &.subway-6 {
          background-color: #905221;
        }
        &.subway-7 {
          background-color: #626d1e;
        }
        &.subway-8 {
          background-color: #d4386e;
        }
        &.subway-9 {
          background-color: #baa03c;
        }
        &.subway-incheon-1 {
          background-color: #6f99d0;
        }
        &.subway-incheon-2 {
          background-color: #f4bb63;
        }
        &.subway-sinbundang {
          background-color: #9b1f31;
        }
        &.subway-gyungui-center {
          background-color: #8dc2a7;
        }
        &.subway-gyungchun {
          background-color: #53a782;
        }
        &.subway-suinbundang {
          background-color: #e4b442;
        }
        &.subway-airport {
          background-color: #80b5e1;
        }
        &.subway-sinrim {
          background-color: #123393;
        }
        &.subway-everline {
          background-color: #92cd83;
        }
        &.subway-kyunggang {
          background-color: #3d71ea;
        }
        &.subway-ui {
          background-color: #c5c13e;
        }
        &.subway-west-sea {
          background-color: #97c355;
        }
        &.subway-gimpo-gold {
          background-color: #907227;
        }
      }

      &-square {
        width: auto;
        padding: 0 0.4rem;
        font-size: 1.2rem;
        border-radius: 0.4rem;
      }
    }
    // panel__button-wrap - 최하단 버튼
    .button {
      &-wrap {
        position: fixed;
        right: -44.1rem;
        bottom: 0;
        width: 44.1rem;
        height: 5.6rem;
        background-color: #000;
        &.is-sub-open {
          right: 44rem;
        }
      }
      &-buy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.7rem;
        font-weight: 600;
        color: #fff;
      }
    }
    .panel {
      &-inner {
        position: relative;
      }
      // panel__wrap
      &-wrap {
        padding: 2.4rem 4rem 3rem;
        &:not(:first-child) {
          border-top: 0.6rem solid #f2f4f5;
        }
        &.panel-service {
          padding-bottom: 10.6rem;
        }
      }
      &-branch {
        padding: 0 4rem;
        margin-bottom: 3rem;
      }
      // 지점 이미지 스와이퍼
      &-swiper {
        width: 100%;
        margin-bottom: 1.6rem;
        .swiper-pagination {
          bottom: 1.8rem;
          &-bullet {
            width: 0.6rem;
            height: 0.6rem;
            margin: 0 0.3rem;
            background-color: #fff;
            opacity: 0.5;
            &-active {
              width: 1rem;
              border-radius: 3rem;
              opacity: 1;
            }
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          display: none;
          width: 2.4rem;
          height: 2.4rem;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 50%;
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 1.2444rem;
            height: 1.2444rem;
          }
          &.swiper-button-disabled {
            opacity: 0.75;
          }
        }
        .swiper-button-prev {
          left: 1.6rem;
          &::after {
            background: url("../../../assets/img/place/panel_sub/arrow_prev.svg") no-repeat center;
            background-size: 1.2444rem 1.2444rem;
          }
        }
        .swiper-button-next {
          right: 1.6rem;
          &::after {
            background: url("../../../assets/img/place/panel_sub/arrow_next.svg") no-repeat center;
            background-size: 1.2444rem 1.2444rem;
          }
        }
        &:hover {
          .swiper-button-prev,
          .swiper-button-next {
            display: block;
            margin-top: 0;
            transform: translateY(-50%);
          }
        }
      }
      // panel-location - 주소
      &-location {
        display: flex;
        .location {
          &-icon {
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 3.2rem;
          }
          &-address {
            margin-bottom: 0.6rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000;
          }
        }
      }
      // panel-intro - 지점 소개
      &-intro {
        .desc {
          font-size: 1.5rem;
          line-height: 1.7;
          font-weight: 400;
          color: #000;
          &-box {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          }
        }
        .panel__intro--see-more.on {
          transform: rotate(180deg);
        }
      }
      // panel__info - 라운지 시설
      &-info {
        .list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 2.4rem;
          margin-top: 1.6rem;
        }
        .item {
          display: none;
          width: calc(50% - 1.2rem);
          &.on {
            display: block;
          }
          .img-box {
            margin-bottom: 0.8rem;
          }
        }
        .info {
          &-title {
            font-size: 1.5rem;
            margin-bottom: 0.4rem;
            color: #000;
            font-weight: 600;
          }
          &-desc {
            font-size: 1.4rem;
            line-height: 1.5;
            font-weight: 400;
            color: #616161;
          }
        }
        .see-more {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 5.6rem;
          margin-top: 1rem;
          font-size: 1.7rem;
          font-weight: 700;
          color: #000;
          border: 1px solid #000;
          &-count {
            color: #616161;
            margin-left: 0.3rem;
          }
        }
      }
      // panel__service - 이용 서비스
      &-service {
        .list {
          display: flex;
          gap: 2.4rem;
        }
        .item {
          width: calc((100% - 7.2rem) / 4);
          text-align: center;
        }
        .icon {
          width: 4rem;
          margin: 0 auto;
          &-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 7.2rem;
            margin-bottom: 0.6rem;
            border: 0.1rem solid #ececec;
          }
        }
        .desc {
          font-size: 1.4rem;
          line-height: 2.2rem;
          font-weight: 400;
          color: #616161;
        }
      }
    }
  }
}
